<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cube_id_11">
  <link
    name="marker_id_11">
    <inertial>
      <origin
        xyz="-5.2042E-18 0 -0.0005"
        rpy="0 0 0" />
      <mass
        value="0.0144" />
      <inertia
        ixx="1.7281E-05"
        ixy="9.035E-22"
        ixz="3.1546E-36"
        iyy="1.7281E-05"
        iyz="-6.0329E-20"
        izz="3.456E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_custom_description/models/markers/marker_11.dae" />
      </geometry>
    </visual>
  </link>
  <link
    name="cube_id_11/cube_link">
    <inertial>
      <origin
        xyz="-8.6736E-19 1.3878E-17 -1.0408E-17"
        rpy="0 0 0" />
      <mass
        value="0.02" />
      <inertia
        ixx="0.003573"
        ixy="1.6396E-19"
        ixz="-2.9204E-20"
        iyy="0.0040185"
        iyz="7.3352E-18"
        izz="0.0018873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_custom_description/models/cube_id_11/meshes/cube_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_custom_description/models/cube_id_11/meshes/cube_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cube_id_11/cube_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.076"
      rpy="0 0 0" />
    <parent
      link="marker_id_11" />
    <child
      link="cube_id_11/cube_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>